
/dist


.vscode
.idea
*.iml
*.log

/.next
/out

/dist

.cache

node_modules/
npm-debug.log
yarn-error.log

/.idea
/.vscode
.DS_Store
/build
/dist


/dist/
/e2e/

/dist/
/node_modules/
/npm-debug.log

/data/
/db.log
/mongod.lock

/dist/
/node_modules/
.env
.env.*
*.env